<%- include('./partials/head', {title: title}) %>
<%- include('./partials/header', {admin: admin}) %>
    <body>
        <div class="category-delete">
            <h1>
                <%= title %> <%= category.name %>
            </h1>
            <div class="delete-message">
                <% if (item_instance_list.length === 0) { %>
                    <p>
                        Do you really want to delete this category?
                    </p>
                    <form method="POST">
                        <input class="form-control" id="categoryid" type="hidden" name="categoryid" required="true" value="<%= category._id %>">
                        <button id="delete-category" type="submit">Delete category</button>
                    </form>
                <% } else { %>
                    <p>
                        Please delete the following products before attempting to delete this category.
                    </p>
                    <div class="instance-list">
                        <h2>Products:</h2>
                            <% item_instance_list.forEach((instance) => { %>
                                <div class="instance-details">
                                    <h3><a href="<%= instance.url %>"><%= instance.name %></a></h3>
                                    <p><%= instance.description %></p>
                                    <hr>
                                </div>
                            <% }); %>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
</html>