<%- include('./partials/head', {title: title}) %>
<%- include('./partials/header', {admin: admin}) %>
  <body>
    <h1><%= title %><%= category.name %></h1>
    <div class="category-detail">
        <h2>Products: </h2>
        <div class="product-list">
            <ul>
                <% item_list.forEach((item) => { %>
                    <h3><a href="<%= item.url %>"><%= item.name %></a></h3>
                    <p><%= item.description %></p>
                    <br>
                <% }) %>
            </ul>
        </div>
    </div>
</body>
</html>