<%- include('./partials/head', {title: title}) %>
<%- include('./partials/header', {admin: admin}) %>
  <body>
    <h1><%= title %><%= category.name %></h1>
    <div class="category-detail">
        <% if (item_list.length > 0) { %>
            <h2>Products: </h2>
            <div class="item-list">
                <% item_list.forEach((item) => { %>
                    <h3><a href="<%= item.url %>"><%= item.name %></a></h3>
                    <p><%= item.description %></p>
                    <br>
                <% }) %>
            </div>
        <% } else { %>
            <div>
                <p>There are no products on this category</p>
            </div>
        <% } %>
    </div>
    <% if (admin) { %>
        <div class="crud">
          <a href='<%= category._id %>/delete'>Delete category</a>
          <br>
          <a href='<%= category._id %>/update'>Update category</a>
        </div>
    <% } %>
</body>
</html>