<%- include('./partials/head', {title: title}) %>
<%- include('./partials/header', {admin: admin}) %>
    <body>
        <h1><%= title %></h1>
        <form method="POST" enctype="multipart/form-data" action>
            <div class="form-group">
                <label for="name">Title:</label>
                <% if (item_detail) { %>
                    <input id="name" type="text" placeholder="Name of the product" name="name" required="true" value="<%= item_detail.name %>">
                <% } else { %>
                    <input id="name" type="text" placeholder="Name of the product" name="name" required="true">
                <% } %>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" placeholder="Add a description" name="description" rows="4" cols='50'><% if (item_detail) { %><%= item_detail.description %><% } %></textarea>
            </div>
            
            <div class="form-group">
                <label for="thumbnail">Thumbnail:</label>
                <input type="file" name="thumbnail" />
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <div>
                    <% categories.forEach((category) => { %>
                        <% if (item_detail) { %>
                            <input type="radio" id="<%= category._id %>" name="category" value="<%= category._id %>"
                            <%= (item_detail.category && (item_detail.category.name === category.name)) ? 'checked' : ''  %>
                        <% } else { %>
                            <input type="radio" id="<%= category._id %>" name="category" value="<%= category._id %>" %>>
                        <% } %>
                        <label for="<%= category %>"><%= category.name %></label><br>
                    <% }) %>
                </div>
            </div>
            <div class="form-group">
                <label for="specifications">Specifications:</label>
                <div class="spec-list">
                    <% let count=0 %>
                    <% if (item_detail && item_detail.specifications.length > 0) { %>
                        <% item_detail.specifications.forEach((spec) => { %>
                            <% ++count%>
                            <input id='spec<%= count %>' type="text" placeholder='Specification #<%= count %>' name='specification'
                            value="<%= spec %>">
                            <% if (count === item_detail.specifications.length) { %>
                                <button id="add-spec">+Add specification</button>
                            <% } %>
                        <% }) %>
                    <% } else { %>
                        <input id='spec1' type="text" placeholder="Specification #1" name="specification">
                        <button id="add-spec">+Add specification</button>
                    <% } %>
                </div>
                
            </div>
            <div class="form-group">
                <label for="price">Price: </label>
                <input id="price" type="number" placeholder="0.00" name="price" required="true" value="<%= item_detail.price %>">
            </div>
            <button type="submit">Submit</button>
        </form>
        <div class="errors">
            <% if (errors) { %>
                <ul>
                    <% errors.forEach((error) => { %>
                        <li><%= error.msg %></li>
                    <% }) %>
                </ul>
            <% } %>
            <% if (existing_error) { %>
                <li>A product with the same name already exists.</li>
            <% } %>
        </div>
        <script type="text/javascript" src="/javascripts/addSpec.js"></script>
    </body>
</html>