<%- include('./partials/head', {title: title}) %>
<%- include('./partials/header', {admin: admin}) %>
    <body>
        <h1><%= title %></h1>
        <form method="POST" action>
            <div class="form-group">
                <label for="item">
                    Product:
                </label>
                <select id="item" type="select" placeholder="Select product" name="item" required="true">
                    <% item_list.forEach((item) => { %>
                        <% if (item_instance) { %>
                            <option value="<%= item._id %>" <%= (item._id === item_instance.item._id) ? 'selected' : '' %>>
                                <%= item.name %>
                            </option>
                        <% } else { %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                        <% } %>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label for="sku">Sku: </label>
                <% if (item_instance) { %>
                    <input id="sku" type="text" placeholder="Insert a SKU code" name="sku" value="<%= item_instance.value %>">
                <% } else { %>
                    <input id="sku" type="text" placeholder="Insert a SKU code" name="sku">
                <% } %>
            </div>
            <div class="form-group">
                <label for="location">Location: </label>
                <select id="location" type="select" placeholder="Select location" name="location" required="true">
                    <% location_list.forEach((location) => { %>
                        <option value="<%= location._id %>"><%= location.name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label for="stock_at_location">Stock at location</label>
                <% if (item_instance) { %>
                    <input id="stock_at_location" type="number" placeholder="Insert number in stock" name="stock_at_location" 
                    value="<%= item_instance.stock_at_location %>">
                <% } else { %>
                    <input id="stock_at_location" type="number" placeholder="Insert number in stock" name="stock_at_location">
                <% } %>                    
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>