<%- include('./partials/head', {title: title}) %>
<%- include('./partials/header', {admin: admin}) %>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% item_list.forEach((item) => { %>
        <li class="list-item">
          <a href="<%= item.url %>"><%= item.name %></a>
          - Price: <%= item.price %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>