<%- include('./partials/head', {title: title}) %>
<%- include('./partials/header', {admin: admin}) %>
    <body>
        <div class="item-delete">
            <h2>
                <%= title %> <%= item_detail.name %>
            </h2>
            <div class="delete-message">
                <% if (item_instances.length === 0) { %>
                    <p>
                        Do you really want to delete this product?
                    </p>
                    <form method="POST">
                        <input class="form-control" id="itemid" type="hidden" name="itemid" required="true" value="<%= item_detail._id %>">
                        <button id="delete-item" type="submit">Delete product</button>
                    </form>
                <% } else { %>
                    <p>
                        Please delete the following instances before attempting to delete this product.
                    </p>
                    <div class="item-instances">
                        <h3>Product instances:</h3>
                        <ul>
                            <% item_instances.forEach((instance) => { %>
                            <li class="list-instances">
                                <strong>Id: </strong><a href="<%= instance.url %>"><%= instance._id %></a>
                                <strong>Location: </strong><%= instance.location.name %>
                                 - <strong>Stock at location: </strong><%= instance.stock_at_location %>
                            </li>
                            <% }); %>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
</html>