<%- include('./partials/head', {title: title}) %>
  <body>
    <h1><%= title %></h1>
    <div class="item-detail">
      <h3><%= item_detail.name %></h3>
      <h4>Description: </h4><%= item_detail.description %>
      <h4>Category: </h4><%= item_detail.category.name %>
      <h4>Price: </h4><%= item_detail.price %>
      <h4>Specifications:</h4>
      <ul>
        <% item_detail.specifications.forEach((spec) => { %>
          <li class="list-spec">
           <%= spec %>
          </li>
        <% }); %>
      </ul>
    </div>
    <div class="availability">
      <% if (item_instances.length !== 0) { %>
        <h3>Availability at stores:</h3>
        <ul>
          <% item_instances.forEach((instance) => { %>
            <li class="list-instance">
              <a href="<%= instance.location.url %>"><%= instance.location.name %></a>
              - Stock at location: <%= instance.stock_at_location %>
            </li>
          <% }); %>
        </ul>
      <% } %>
    </div>
    <% if (admin) { %>
      <div class="crud">
        <a href='<%= item_detail._id %>/delete'>Delete product</a>
        <br>
        <a href='<%= item_detail._id %>/update'>Update product</a>
      </div>
    <% } %>
  </body>
</html>