<%- include('./partials/head', {title: title}) %>
  <body>
    <h1><%= title %></h1>
    <strong><%= item_detail.name %></strong>
    <p>Description: <%= item_detail.description %></p>
    <p>Category: <%= item_detail %></p>
    <p>Price: <%= item_detail.price %></p>
    <p><%= item_detail.specifications %></p>
  </body>
</html>